[api]
host = 0.0.0.0
port = 9000
debug = True

[frontend]
api_host = 127.0.0.1
api_port = 9000

[database]
user = *******write here*******
password = *******write here*******
host = dpg-d5if3rkhg0os738i40jg-a.frankfurt-postgres.render.com
port = 5432
db_name = *******write here*******

[ai_service]
free_api_key = *******write here*******